Repository rko619619/task_manager: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint

standardrb:
  run: bundle exec standardrb {all_files}

erblint:
  run: bundle exec erblint --lint-all {all_files}

Add lefthook config
  .gitignore
  Gemfile
Due: none

Add ci/cd for a project
  .erb-lint.yml
  .github/workflows/rubyonrails.yml
  .gitignore
  .idea/task_manager.iml
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.text.erb
  db/schema.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
Due: standardrb, erblint

Fix issues
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.text.erb
Due: erblint

Delete .idea
  .gitignore
  .idea/task_manager.iml
Due: none

Add dependencies
  Gemfile
  Gemfile.lock
Due: none

Add a image push
  .github/workflows/rubyonrails.yml
  Dockerfile
  config/database.yml
  docker-compose.yml
Due: none

Fix
  .github/workflows/rubyonrails.yml
  Gemfile.lock
  docker-compose.yml
Due: none

Add pg config
  Gemfile
  Gemfile.lock
  config/database.yml
Due: none

Add master key
  config/environments/production.rb
Due: standardrb

Add config for simplecov
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Due: standardrb

Remove azure from ci/cd
  .github/workflows/rubyonrails.yml
Due: none

Add dotenv to project and configure local db
  .gitignore
  Gemfile
  Gemfile.lock
  config/database.yml
  db/schema.rb
Due: standardrb

Remove duplicate gems
  Gemfile
  spec/spec_helper.rb
Due: standardrb

Comment for simplecov coverage
  .github/workflows/rubyonrails.yml
Due: none

Hide sensetive data to .env from dockerfile
  docker-compose.yml
Due: none

Change .rspec
  .rspec
Due: none

Add all non-project files to gitignore
  .gitignore
Due: none

Remove tzinfo-data gem
  Gemfile
Due: none

Move simplecov to support/config
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
  support/config/simplecov.rb
Due: standardrb

Configure project (#1)
  .erb-lint.yml
  .github/workflows/rubyonrails.yml
  .gitignore
  .rspec
  .standard.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/mailer.html.erb
  config/database.yml
  config/environments/production.rb
  config/environments/test.rb
  db/schema.rb
  docker-compose.yml
  lefthook.yml
  spec/rails_helper.rb
  spec/spec_helper.rb
  support/config/simplecov.rb
Due: standardrb, erblint

Config for active admin
  .standard.yml
  Gemfile
  Gemfile.lock
  app/admin/admin_users.rb
  app/admin/dashboard.rb
  app/assets/javascripts/active_admin.js
  app/assets/stylesheets/active_admin.scss
  app/models/admin_user.rb
  config/initializers/active_admin.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20240214205317_devise_create_admin_users.rb
  db/migrate/20240214205323_create_active_admin_comments.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/admin_users.rb
  spec/models/admin_user_spec.rb
Due: standardrb

Add rake task for create admin user for production
  db/seeds.rb
Due: standardrb

Fix standartrb issues
  config/environments/production.rb
Due: standardrb

Add render.ynl
  bin/render-build.sh
  render.yaml
  spec/models/admin_user_spec.rb
Due: standardrb

Add db name
  render.yaml
Due: none

Add a statement
  db/seeds.rb
Due: standardrb

Add if statement for create admin user rake
  db/seeds.rb
Due: standardrb

Update manual deploy to render.yaml
  render.yaml
Due: none

Remove ignotr
  .standard.yml
  db/migrate/20240214205323_create_active_admin_comments.rb
Due: standardrb

Fix comments
  app/admin/dashboard.rb
Due: standardrb

Fix comments
  db/migrate/20240214205317_devise_create_admin_users.rb
Due: standardrb

Update gems
  Gemfile.lock
Due: none

Path conditions:
  standardrb: any of: *.rb
  erblint: any of: *.erb
